<div class="container">
<% if @stylist.clients().any?() %>
<h1><%= @stylist.name() %></h1>
<p><h4>List of Clients:</h4></p>

<ul>
  <% @stylist.clients().each() do |client| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>

<% else %>


<h1><%= @stylist.name() %> doesn't have any clients yet!</h1>


<% end %>

<p><h4>Add a client to <%= @stylist.name() %></h4></p>
  <form action="/clients" method="post">
    <label for="name">Client Name</label>
    <input id="name" name="name" type="text">
    <button type="submit">Add</button>

    <p> <a href="/">Back to Main Page</a></p>
</div>